#canvas{
  top: 100px; /* adjust as needed */
  left: 410px; /* adjust as needed */
}
ul.controls {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: left;
  }
  
  ul.controls li {
    margin-left: 10px;
  }
  
  ul.controls label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  ul.controls input {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  ul.controls button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  * {
    box-sizing: border-box;
    z-index: 1; /* set a higher z-index value */
  }

  div#formate {
    border-collapse: collapse;
    margin: 0 auto;
    color: #000000;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: large;
    font-weight: bold;
    z-index: 1; /* set a higher z-index value */
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* set a lower z-index value */
  }