* {
    box-sizing: border-box;
    z-index: 1; /* set a higher z-index value */
  }
  
  ul.controls {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  ul.controls li {
    margin-right: 10px;
  }
  
  ul.controls label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  ul.controls input {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  ul.controls button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  
  table#board {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #444;
  }
  
  table#board td {
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }
  
  
  table#board .piece {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
    position: relative; /* Add position:relative to the .piece element */
  }
  
  /* Add pseudo-elements to the .piece.red and .piece.blue selectors */
  table#board .piece.red::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(255, 0, 0);
  }
  table#board .piece.blue::after {
    /* content: "O"; Add content "O" */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(21, 0, 255);
  }

  table#board td.c1 {
    background-color: #dad6ffda;
  }

  table#board td.c2 {
    background-color: #f1f2f6;
 
  }

  table#board td.c3 {
    background-color: #b7aef2de;
 
  }

  table#board div.init {
    color: #40157b; 
  }
  
  div#formate {
    border-collapse: collapse;
    margin: 0 auto;
    color: #ffffff;
    position: absolute;
    top: 690px;
    left: 700px;
    z-index: 1; /* set a higher z-index value */
  }
  
  #board {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1; /* set a higher z-index value */
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* set a lower z-index value */
  }
  .row-letters {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50px; /* adjust as needed */
    left: 100px; /* adjust as needed */
  }
  
  .row-letters li {
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* background-color: #444;
    border: 1px solid #444; */
    border-radius: 10px;
    margin-right: 0px;
  }

  .col-numbers{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px; /* adjust as needed */
    left: 40px; /* adjust as needed */
  }
  
  .col-numbers li {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* background-color: #444;
    border: 1px solid #444; */
    border-radius: 10px;
    margin-right: 0px;
  }
  