table {
    border-collapse: collapse;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  
  td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }
  
  td.black {
    background-color: #494949;
  }
  
  .piece {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  }
  
  .piece.red {
    background-color: black;
  }
  
  .piece.white {
    background-color: white;
  }
  